.filter {
    position: fixed;
    left: 11px;
    top: 2%;
    z-index: 101;
    width: 8%;
    height: 5%;
}

.mobile-filter {
    position: absolute;
    top: 7%;
    width: 70%;
    height: 100vh;
    z-index: 1000;
    background-color: #bf7b8d;
    left: 0;
}

@media only screen and (min-width: 767px) {
    .mobile-filter {
        display: none;
    }
    .filter {
        display: none;
    }
}